<app-table-component
  [headerButtons]="headerButtons"
  [value]="displayValue"
  [columns]="columns"
  emptyMessage="No han sido registrados usuarios en el sistema"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
></app-table-component>

<!-- Los modales permanecen igual -->
<app-roles-modal
  [(isOpen)]="showRolesModal"
  [username]="selectedUser"
  [roles]="rolesUser"
  (onSaved)="handleSaveRoles($event)"
></app-roles-modal>

<app-confirmation-action-modal
  [isOpen]="showConfirmation"
  [description]="'¿Desea guardar los cambios realizados en los roles del usuario?'"
  (closed)="showConfirmation = false"
  (confirm)="confirmChanges()"
></app-confirmation-action-modal>

<app-confirmation-action-modal
  [isOpen]="showDisabledConfirmation"
  [description]="confirmationMessage"
  (closed)="showDisabledConfirmation = false"
  (confirm)="confirmSoftDelete()"
></app-confirmation-action-modal>
