<div class="mb-4">
  <button
    (click)="goBack()"
    class="flex items-center gap-2 text-navy-900 hover:text-navy-700 transition-colors font-bold group"
  >
    <span class="material-symbols-outlined text-[#000066] text-lg group-hover:-translate-x-1 transition-transform">
      arrow_back
    </span>
    <span class="return-arrow-option">Regresar</span>
  </button>
</div>

<app-user-form (onSubmit)="handleCreateUser($event)"></app-user-form>
<app-confirmation-action-modal
  [isOpen]="isConfirmModalOpen"
  [description]="'¿Está seguro de que desea registrar a este usuario en el sistema? Verifique que la información ingresada sea correcta antes de proceder?'"
  (onClose)="cancelCreation()"
  (onConfirm)="confirmCreation()"
></app-confirmation-action-modal>
