:host ::ng-deep .btn-primary .p-button {
  background-color: var(--color-primary);
  border-radius: var(--radius-pill);
  color: var(--color-text-white);
  font-family: var(--font-sans);
  font-size: var(--text-size-body);
  font-weight: var(--font-semibold-weight);
  padding: var(--padding-pill-y) var(--padding-pill-x);
  border: none;
  height: var(--height-pill);
}
:host ::ng-deep .btn-primary .p-button:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-text-white);
 }
:host ::ng-deep .btn-primary .p-button:active {
  background-color: var(--color-primary-active);
  color: var(--color-text-white);
 }
:host ::ng-deep .btn-primary .p-button:disabled {
  background-color: var(--color-primary-disabled);
  color: var(--color-text-disabled);
}

:host ::ng-deep .btn-secondary .p-button {
  background-color: var(--color-secondary);
  border-radius: var(--radius-pill);
  color: var(--color-text-blue);
  font-family: var(--font-sans);
  font-size: var(--text-size-body);
  font-weight: var(--font-semibold-weight);
  padding: var(--padding-pill-y) var(--padding-pill-x);
  border: var(--secondary-border-width) solid var(--color-secondary-border-color);
  height: var(--height-pill);
}
:host ::ng-deep .btn-secondary .p-button:hover {
  background-color: var(--color-secondary-hover);
  color:var(--color-text-blue);
  border: var(--secondary-border-width) solid var(--color-secondary-border-color);
 }
:host ::ng-deep .btn-secondary .p-button:active {
  background-color: var(--color-secondary-active);
  color:var(--color-text-blue);
  border: var(--secondary-border-width) solid var(--color-secondary-border-color);
 }
:host ::ng-deep .btn-secondary .p-button:disabled {
  background-color: var(--color-secondary-disabled);
  color:var(--color-text-disabled);
  border: var(--secondary-border-width) solid var(--color-secondary-border-color-disabled);
}

:host ::ng-deep .btn-icon .p-button{
  width: var(--height-pill);
  height: var(--height-pill);
  box-sizing: border-box;
  padding: 0;
}
