<app-table-component
  [value]="tableData()"
  [columns]="columns"
  [headerButtons]="headerButtons"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No hay anteproyectos registrados en el sistema"
></app-table-component>

<app-description-modal
  [isOpen]="descriptionModal().show"
  [titleDescription]="descriptionModal().title"
  [description]="descriptionModal().content"
  (closed)="descriptionModal.set({show: false, title: '', content: ''})"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="deleteState().show"
  [description]="'¿Está seguro de eliminar el anteproyecto: ' + deleteState().title + '?'"
  (closed)="cancelDelete()"
  (confirm)="confirmDelete()"
></app-confirmation-action-modal>
