<app-table-component
  [value]="tableData()"
  [columns]="columns"
  [headerButtons]="headerButtons"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No se han encontrado anteproyectos registrados para su perfil."
></app-table-component>

<app-description-modal
  [isOpen]="descriptionModal().show"
  [titleDescription]="descriptionModal().title"
  [description]="descriptionModal().content"
  (onClose)="closeDescriptionModal()"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="deleteState().show"
  title="Eliminar Anteproyecto"
  [description]="'¿Está seguro de eliminar el anteproyecto: ' + deleteState().title + '?'"
  (onClose)="cancelDelete()"
  (onConfirm)="confirmDelete()"
></app-confirmation-action-modal>
