<div
  role="alert"
  [ngClass]="['notification', config().containerClass]"
>
  <!-- Ícono -->
  <i [ngClass]="['pi', config().icon, config().iconClass, 'notification__icon']"></i>

  <!-- Contenido -->
  <div class="notification__body">
    <span [ngClass]="['notification__title', config().titleClass]">
      {{ notification().title }}
    </span>
    <span [ngClass]="['notification__message', config().messageClass]">
      {{ notification().message }}
    </span>
  </div>

  <!-- Botón cerrar -->
  @if (notification().dismissible !== false) {
    <button
      [ngClass]="['notification__close', config().closeClass]"
      aria-label="Cerrar notificación"
      (click)="dismissed.emit(notification().id)"
    >
    <i class="material-symbols-outlined">close</i>
    </button>
  }
</div>
