<div class="pt-2 max-w-5xl mx-auto pb-10">
  <div class="flex justify-between items-center mb-6">
    <button (click)="goBack()" class="flex items-center gap-2 text-navy-900 hover:text-navy-700 transition-colors font-bold group">
      <span class="material-symbols-outlined text-[#000066] text-lg group-hover:-translate-x-1 transition-transform">
        arrow_back
      </span>
      <span class="return-arrow-option">Regresar</span>
    </button>
  </div>

  <h2 class="text-2xl font-bold text-primary mb-6 border-b-2 border-primary pb-2 font-display">
    Registro de Correspondencia Final
  </h2>

  @if (!thesisWorkDetails()) {
    <div class="text-center text-gray-500 font-display my-10">
      Cargando historial de formatos y estructura general...
    </div>
  } @else {
    <app-register-correspondence-form
      [thesisWork]="thesisWorkDetails()!"
      [isSubmitting]="isSubmitting()"
      (onSave)="handleCorrespondenceSave($event)">
    </app-register-correspondence-form>
  }
</div>
