<app-table-component
  [value]="testValue"
  [columns]="testColumns"
  emptyMessage="No han sido registrados avances del trabajo de grado en el sistema"
></app-table-component>
<!--  <app-button-component label="Guardar" variant="primary"></app-button-component>
<app-state label="No aprobado" [state]="stateList.NO_APROBADO"></app-state>
<div class="bg-primary text-white p-4">
  Prueba de color primario
</div> -->
<app-evaluation-modal
  [isOpen]="mostrarModalEvaluacion"
  [name]="mockName"
  [role]="mockRole"
  [evaluationDate]="mockDate"
  [state]="mockState"
  [comments]="mockComments"
  [documents]="mockDocs"
  (onClose)="cerrarModal()"
></app-evaluation-modal>
<app-button-component label="Cargar archivos" variant="secondary" (click)="mostrarModalEvaluacion = true"></app-button-component>
