<app-table-component
  [value]="testValue"
  [columns]="testColumns"
  emptyMessage="No han sido registrados avances del trabajo de grado en el sistema"
></app-table-component>
<!--  <app-button-component label="Guardar" variant="primary"></app-button-component>
<app-state label="No aprobado" [state]="stateList.NO_APROBADO"></app-state>
<div class="bg-primary text-white p-4">
  Prueba de color primario
</div> -->
<app-evaluation-modal
  [isOpen]="mostrarModalEvaluacion"
  [name]="mockName"
  [role]="mockRole"
  [evaluationDate]="mockDate"
  [state]="mockState"
  [comments]="mockComments"
  [documents]="mockDocs"
  (onClose)="cerrarModal()"
></app-evaluation-modal>
<app-button-component label="Cargar archivos" variant="secondary" (click)="mostrarModalEvaluacion = true"></app-button-component>

<app-register-information-modal
  [isOpen]="mostrarModalRegistro"
  [modalHeader]="mockRegistro.header"
  [subTitle]="mockRegistro.sub"
  [title]="mockRegistro.titulo"
  [modality]="mockRegistro.modalidad"
  [student]="mockRegistro.estudiante"
  [director]="mockRegistro.director"
  [codirector]="mockRegistro.codirector"
  [adviser]="mockRegistro.asesor"
  [chargeDate]="mockRegistro.fecha"
  [state]="mockRegistro.estado"
  [documents]="mockRegistro.docs"
  (onClose)="cerrarRegistro()"
  (onDownloadFile)="descargarDesdeRegistro($event)"
></app-register-information-modal>
<app-button-component label="Cargar archivos" variant="secondary" (click)="mostrarModalRegistro = true"></app-button-component>
<app-confirmation-action-modal
  [isOpen]="mostrarConfirmacion"
  [description]="'Usted a seleccionado la opción de guardar la evaluación de los avances registrados, esto notificara a los actores involucrados sobre la evaluación para realizar las acciones pertinentes ¿Desea guardar la evaluación?'"
  (onClose)="mostrarConfirmacion = false"
  (onConfirm)="miFuncionDeGuardado()"
></app-confirmation-action-modal>
<app-button-component label="confirmar accion" variant="primary" (onClick)="mostrarConfirmacion = true"></app-button-component>
