.state-base{
  display: inline-flex;
  align-items: center;
  border-radius: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 20px;
  height: 41px;
}

.state-aprobado{
  background-color: #249337;
  color: white;
}

.state-aprobado-con-observaciones{
  background-color: #EC6C1F;
  color: white;
}

.state-no-aprobado{
  background-color: #E52724;
  color: white;
}

.state-en-revision{
  background-color: #F8AE15;
  color: white;
}

.state-evaluado{
  background-color: #8CBB22;
  color: white;
}

.state-en-desarrollo{
  background-color: #0051C6;
  color: white;
}

.state-aplazado{
  background-color: #4C19AF;
  color: white;
}
