<p-dialog
  [(visible)]="isOpen"
  (onHide)="closeModal()"
  [modal]="true"
  [appendTo]="'body'"
  styleClass="custom-modal"
  [style]="{ width: '450px' }"
  [closable]="true"
>
  <ng-template pTemplate="header">
    <div class="w-full text-center">
      <h2 class="text-primary font-bold font-display text-lg m-0">
        Roles asignados a {{ username }}
      </h2>
    </div>
  </ng-template>

  <div class="flex flex-col gap-6 py-4">

    @if (!isEditing) {
      <div class="flex flex-col gap-4">
        <ul class="list-none p-0 m-0">
          @for (role of draftRoles; track role.type) {
            @if (role.assigned) {
              <li class="flex justify-between items-center py-2 px-4">
                <span class="font-sans text-gray-700">• {{ role.type }}</span>
                <span class="bg-primary text-white px-6 py-1 rounded-full text-sm">Activo</span>
              </li>
            }
          }
        </ul>

        <div class="mt-4">
          <app-button-component
            label="Gestionar roles"
            variant="primary"
            class="w-full"
            (onClick)="toggleMode()"
          ></app-button-component>
        </div>
      </div>
    }

    @else {
      <div class="flex flex-col gap-3">
        @for (role of draftRoles; track role.type) {
          <div class="flex justify-between items-center py-1">
            <span class="font-sans text-gray-700">• {{ role.type }}</span>

            <app-button-component
              [label]="role.assigned ? 'Deshabilitar rol' : 'Asignar rol'"
              [variant]="role.assigned ? 'secondary' : 'primary'"
              (onClick)="toggleRole(role)"
            ></app-button-component>
          </div>
        }

        <div class="flex justify-center gap-4 mt-6">
          <app-button-component
            label="Salir"
            variant="secondary"
            (onClick)="toggleMode()"
          ></app-button-component>

          <app-button-component
            label="Guardar"
            variant="primary"
            (onClick)="saveRoles()"
          ></app-button-component>
        </div>
      </div>
    }

  </div>
</p-dialog>
