@if (preliminaryDraftState()) {
  <app-review-preliminary-draft-form
    [preliminaryDraft]="preliminaryDraftState()!"
    (onSaveEvaluation)="handleRequestConfirmation($event)"
    (onDownloadPreliminaryDraft)="downloadCurrentDocument()">
  </app-review-preliminary-draft-form>
}

<app-confirmation-action-modal
  [isOpen]="isConfirmModalOpen()"
  description="¿Desea finalizar la evaluación? El resultado será enviado al sistema."
  (onClose)="isConfirmModalOpen.set(false)"
  (confirm)="processEvaluation()">
</app-confirmation-action-modal>
