@import "tailwindcss";

:root {
  color-scheme: light;
}

@theme {

  /* Primary button properties */
  --color-primary: #000066;
  --color-primary-hover: #828AE3;
  --color-primary-active: #5056AC;
  --color-primary-disabled: #C8C5D0;

  /* Secondary button properties */
  --color-secondary: #FFFFFF;
  --color-secondary-hover: #5056ac33;
  --color-secondary-active: #828ae380;
  --color-secondary-disabled: #C8C5D0;
  --color-secondary-border-color:#000066;
  --color-secondary-border-color-disabled:#46464F;
  --secondary-border-width: 2px;

  /* State properties */
  --color-state-approved: #249337;
  --color-state-approved-with-comments: #EC6C1F;
  --color-state-rejected: #D32F2F;
  --color-state-under-review: #F8AE15;
  --color-state-evaluated: #8CBB22;
  --color-state-in-development: #0051C6;
  --color-state-postponed: #4C19AF;

  /* pill properties */
  --radius-pill: 100px;
  --height-pill: 41px;

  /* Font properties */
  --font-sans:   'Open Sans', sans-serif;
  --font-size-base: 14px;
  --font-size-section: 16px;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-display: 'Fira Sans', sans-serif;
  --color-text-white: #ffffff;
  --color-text-blue: #000066;
  --color-text-disabled: #46464F;

  /* Spacing properties */
  --padding-pill-y: 11px;
  --padding-pill-x: 20px;

  --p-paginator-nav-button-selected-background: var(--color-primary);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  --p-paginator-nav-button-selected-background: #000066;
  --p-paginator-nav-button-selected-color: #ffffff;
  --p-tooltip-background: rgba(234, 240, 251, 0.9);
  --p-tooltip-color: #000000;
  --p-tooltip-border-radius: 10px;
  --p-tooltip-padding: 0.5rem 0.75rem;
  --p-tooltip-max-width: 20rem;
}

.p-paginator-page.p-paginator-page-selected:hover {
  background: #828AE3;
}
.p-paginator-page.p-paginator-page-selected:active {
  background: #5056AC;
}

.p-tooltip .p-tooltip-text {
  border: 1px solid rgba(101, 183, 65, 0.24);
}
