:host ::ng-deep .p-datatable table {
  table-layout: fixed;
}

.p-datatable th {
  font-family: var(--font-display);
  font-size: var(--text-size-section);
  font-weight: var(--font-semibold-weight);
}

.p-datatable td{
  font-family: var(--font-sans);
  font-size: var(--text-size-body);
  font-weight: var(--font-regular-weight);
}

.p-paginator-page.p-paginator-page-selected {
  background: var(--p-paginator-nav-button-selected-background);
  color: var(--color-text-white)
}


