.p-datatable th {
  font-family: var(--font-display);
  font-size: var(--font-size-section);
  font-weight: var(--font-weight-semibold);
}

.p-datatable td{
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

.p-paginator-page.p-paginator-page-selected {
  background: var(--p-paginator-nav-button-selected-background);
  color: var(--color-text-white)
}
