<div class="overflow-x-auto">
  <p-table
    [value]="value"
    [columns]="columns"
    [rows]="rows"
    [paginator]="true"
    [tableStyle]="{'table-layout': 'fixed'}"
  >

    <!-- botones de arriba -->
    <ng-template #caption>
    @if (headerButtons && headerButtons.length > 0) {
      <div class="flex justify-end gap-2">
        @for (btn of headerButtons; track btn) {
          <app-button-component
            [label]="btn.label"
            [icon]="btn.icon"
            [variant]="btn.variant"
            (onClick)="headerButtonClick.emit(btn)"
          ></app-button-component>
        }
      </div>
    }
  </ng-template>

    <!-- header -->
      <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col){
          <th
          scope="col"
          [style.width]="col.width"
          [style.textAlign]="col.type === 'state' || col.type === 'actions' ? 'center' : 'left'"
          >
            {{ col.header }}
          </th>
        }
      </tr>
      </ng-template>

    <!-- body -->
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col) {
          <td [style.textAlign]="col.type === 'state' || col.type === 'actions' ? 'center' : 'left'">
            @if (col.type === 'text' || !col.type) {
              <span class="block w-full overflow-hidden whitespace-nowrap text-ellipsis " [pTooltip]="rowData[col.field]" tooltipPosition="top">
                {{ rowData[col.field] }}
              </span>
            }
            @if (col.type === 'state') {
              <app-state
                [label] = "rowData[col.field]"
                [state] = "rowData[col.field]"
              ></app-state>
            }
            @if (col.type === 'actions') {
              <div class="flex justify-center items-center gap-0.5">
                @for (btn of col.actions; track btn) {
                  <app-button-component
                    [label]="btn.label"
                    [icon]="btn.icon"
                    [variant]="btn.variant || 'primary'"
                    (onClick)="actionClick.emit({action:btn.action, row: rowData})"
                  ></app-button-component>
                }
              </div>
            }
          </td>
        }
      </tr>
    </ng-template>

    <!-- empty state -->
      <ng-template #emptymessage>
      <tr>
        <td [colSpan]="columns.length">
          <app-empty-state [message]="emptyMessage"></app-empty-state>
        </td>
      </tr>
      </ng-template>


  </p-table>

</div>
