@if (thesisWorkState()) {
  <app-evaluate-corrections-form
    [thesisWork]="thesisWorkState()!"
    [isSubmitting]="isSubmitting()"
    (onSubmitEvaluation)="handleOpenConfirmation($event)"
    (onGoBack)="goBack()">
  </app-evaluate-corrections-form>
}

<app-confirmation-action-modal
  [isOpen]="isConfirmModalOpen()"
  description="¿Está seguro de enviar esta evaluación? Al confirmar, el veredicto pasará a estado oficial e inmutable en el sistema de trabajos de grado y se notificará a las partes."
  (onClose)="isConfirmModalOpen.set(false)"
  (confirm)="executeEvaluationSave()">
</app-confirmation-action-modal>
