@if (thesisWorkState()) {
  <app-register-paz-y-salvo-form
    [thesisWork]="thesisWorkState()!"
    [isSubmitting]="isSubmitting()"
    (onSave)="handleRequestConfirmation($event)"
    (onGoBack)="goBack()">
  </app-register-paz-y-salvo-form>
}

<app-confirmation-action-modal
  [isOpen]="isConfirmModalOpen()"
  description="¿Está seguro de registrar la evaluación del Paz y Salvo? Si selecciona 'No cumple' en alguna de las áreas, la entrega final del estudiante será rechazada automáticamente."
  (onClose)="isConfirmModalOpen.set(false)"
  (confirm)="processPazYSalvo()">
</app-confirmation-action-modal>
