<app-table-component
  [value]="proposals()"
  [headerButtons]="headerButtons"
  [columns]="columns"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No han sido registradas propuestas de trabajo de grado en el sistema"
></app-table-component>

<app-description-modal
  [isOpen]="descModal.show"
  [titleDescription]="descModal.title"
  [description]="descModal.content"
  (onClose)="descModal.show = false"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="deleteState.show"
  [description]="'¿Está seguro de eliminar la propuesta: ' + deleteState.title + '?'"
  (onClose)="cancelDelete()"
  (onConfirm)="confirmDelete()"
></app-confirmation-action-modal>
