<app-table-component
  [value]="proposalsWithPermissions()"
  [headerButtons]="headerButtons"
  [columns]="columns"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No han sido registradas propuestas de trabajo de grado en el sistema"
></app-table-component>

<app-description-modal
  [isOpen]="descriptionModal.show"
  [titleDescription]="descriptionModal.title"
  [description]="descriptionModal.content"
  (closed)="descriptionModal.show = false"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="deleteState.show"
  [description]="'¿Está seguro de eliminar la propuesta: ' + deleteState.title + '?'"
  (closed)="cancelDelete()"
  (confirm)="confirmDelete()"
></app-confirmation-action-modal>
