<app-table-component
  [value]="testValue()"
  [headerButtons]="[
    { label: 'Formatos descargables' , variant: 'primary'},
    { label: 'Registrar propuesta', variant: 'primary' }
  ]"
  [columns]="testColumns"
  [paginator]="true"
  (actionClick)="handleTableAction($event)"
  (headerButtonClick)="handleHeaderButton($event)"
  emptyMessage="No han sido registrados propuestas de trabajo de grado en el sistema"
></app-table-component>
<app-description-modal
  [isOpen]="mostrarModalDesc"
  [titleDescription]="tituloParaModal"
  [description]="textoParaModal"
  (onClose)="mostrarModalDesc = false"
></app-description-modal>

<app-confirmation-action-modal
  [isOpen]="showDeleteConfirmation"
  [description]="'¿Está seguro de eliminar la propuesta: ' + proposalTitleToDelete + '?'"
  (onClose)="cancelDelete()"
  (onConfirm)="confirmDelete()"
></app-confirmation-action-modal>
