<p-dialog
  [visible]="isOpen"
  (visibleChange)="isOpen = $event"
  (onHide)="closeModal()"
>
@if (!uploadedFile) {
    <div class="text-center ">
      <span class="material-symbols-outlined upload-icon">upload</span>
    </div>
    <input type="file" #fileInput accept=".pdf" class="hidden" (change)="onFileSelected($event)" />
    <div class="text-center font-display text-size-section font-semibold " (click)="fileInput.click()">
      {{ description }}
      <p class="font-sans font-normal">Sus datos personales y archivos están protegidos por nuestra Política de Protección de Datos Personales y Transparencia de la Información </p>
    </div>
  }
  @if (uploadedFile) {
    {{ uploadedFile.name }}
    {{ uploadedBy }}
    <button (click)="removeFile()">
      <span class="material-symbols-outlined">close</span>
    </button>
  }
</p-dialog>
